{% include 'base.html' %}
{% load widget_tweaks %}  
<!DOCTYPE html>
<html>

<head>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #468170;
            height: 100%;
            /* height: 100%; */
            /* min-height: 100%; */
            /* background-size: cover; */
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            overflow-y: hidden;
            max-height: 400px;
            top: 13px;
        }
    </style>
</head>

<body>
    {% if messages %}
    <ul class="alert alert-success" style="list-style-type: none">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration d-flex justify-content-center align-items-center" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-4" align="center">Add Book</h3>
                            <form method="POST" action="" enctype="multipart/form-data" id="addbook">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-outline form-label">
                                            {% csrf_token %}
                                            <div id="output">
                                            </div>
                                            <!-- <div class="form-group"> -->
                                            <i class="fa-solid fa-book"></i> 
                                            
                                            {% render_field form.book_image|add_class:"form-control fa-solid fa-book" placeholder=form.book_image.label %}
                                            <p id="image_error" style="color: red;"></p><br>
                                            
                                            <label>Book Name</label>
                                            {% render_field form.book_name class="form-control" placeholder=form.book_name.label %}
                                            <p id="bookname_error" style="color: red;"></p><br>
                                            
                                            <label>Author Name</label>
                                            {% render_field form.author_name class="form-control" placeholder=form.author_name.label %}
                                            <p id="authorname_error" style="color: red;"></p><br>
                                           
                                            <label>Price</label>
                                            {% render_field form.price class="form-control" placeholder=form.price.label %}
                                            <p id="price_error" style="color: red;"></p><br>
                                            
                                            <label>Quantity</label>
                                            {% render_field form.quantity class="form-control" placeholder=form.quantity.label %}<br>
                                            <br>
                                            <!-- <div class="mt-4 pt-2 mb-2"> -->
                                                <input class="btn btn-primary btn-lg" type="button" value="Submit"
                                                    onclick="bookdata()" />
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
   
    let imagesArray = []
    var bookimage = document.getElementById("id_book_image")
    bookimage.addEventListener("change", () => {
        const file = bookimage.files
        console.log(file[0]);
        imagesArray.push(file[0])
        displayImages()
    })
    function displayImages() {
        let images = ""
        imagesArray.forEach((image, index) => {
            images += `<div class="image">
                <img src="${URL.createObjectURL(image)}" alt="image">
                <span onclick="deleteImage(${index})">&times;</span>
              </div>`
        })
        document.getElementById("output").innerHTML = images
    }


    function bookdata() {
        var bookname = document.getElementById("id_book_name").value
        var authorname = document.getElementById("id_author_name").value
        var price = document.getElementById("id_price").value
        var quantity = document.getElementById("id_quantity").value
        var bookimage = document.getElementById("id_book_image").files
        // console.log(bookimage);

        var data = {
            "book_name": bookname,
            "author_name": authorname,
            "price": price,
            "quantity": quantity,
            "book_image": bookimage,
        }
        // console.log(data);

        var data = new FormData($('#addbook').get(0))

        // console.log(data);
        $.ajax({
            url: "{% url 'add_book' %}",
            method: "POST",
            processData: false,
            contentType: false,
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            data: data,
            success: function (data) {
                // console.log(data);
                if (data.message == "success") {
                    window.location.href = "{% url 'home' %}"
                    // alert("successfully register.")
                }
            },
            error: function (data, error) {
                // alert("your id is already register")
                // console.log(data.responseJSON.message.book_image[0]);
                console.log("book image",data.responseJSON.message.book_image[0]);
                document.getElementById("image_error").innerHTML = data.responseJSON.message.book_image[0]
                document.getElementById("bookname_error").innerHTML = data.responseJSON.message.book_name[0]
                document.getElementById("authorname_error").innerHTML = data.responseJSON.message.author_name[0]
                document.getElementById("price_error").innerHTML = data.responseJSON.message.price[0]
               
                console.log("error", error);
            },
        })

    }

</script>

</html>