<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <!-- <title>File Storage</title> -->
  <style>
    .container-fluid{
      background-color: #73bd84;
    }
  </style>
  
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark" style="height:60px">
    <div class="container-fluid"  max-width="100%">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/005/335/367/small/book-read-library-study-solid-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg"
        height="60px" max-width="100%">

      <a class="nav-link active" style="margin-left: 20px;" aria-current="page" href="{% url 'home' %}">Libray
        Management</a>
      <!-- <h2 class="navbar-brand" style="margin-left: 20px;">Libray Management</h2> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        {% if request.user.is_authenticated %}
        <span>(login user {{user.username}})</span>
        {% endif %}&nbsp;&nbsp;
        <form class="d-flex">
          <!-- <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>&nbsp;&nbsp; -->


          <a class="nav-link active" aria-current="page" href="{% url 'create_user' %}">Register</a>&nbsp;&nbsp;

          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>&nbsp;&nbsp;
          <a class="nav-link active" aria-current="page" href="{% url 'add_book' %}">Add Book</a>&nbsp;&nbsp;

          {% if request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>&nbsp;&nbsp;
          {% endif %}
        </form>
      </div>
    </div>
  </nav>
</body>

</html>