{% include 'base.html' %}
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <style>
        .home-background {
            height: 100vh;
            width: 100%;
            overflow: hidden;
            background: #468170;
            padding-left: 2%;
            padding-right: 3%;
            padding-top: 2%;
        }

        .table-col {
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05)
        }

        .thead {
            background-color: #FFED86;
        }

        .card-body {
            text-align: center;
            align-self: center;
        }
    </style>
</head>

<body>
    <div id="errormessage">
        {% if messages %}
        <ul class="alert alert-success" style="list-style-type: none">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
                </li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="home-background">
        <div class="row" id="bookcard">
        </div>
    </div>
    <!-- user list -->>
    <div class="modal" id="userpopbox">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="align-items: center;">


                <label for="cars">User List</label>

                <select name="assignbook" id="option">
                    {% for user in users %}
                    <option value={{user.id}}>{{user.username}} ({{user.email}})</option>
                    {% endfor %}
                </select>

                <div class="modal-footer">
                    <button type="button" type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        onclick="selectUser()">submmit</button>
                </div>

            </div>
        </div>
    </div>

    <script>

        function trunString(string, words = 17) {
            return string.slice(0, words) + (string.length > words ? "..." : "")
        }

        var ids = {}

        function bookId(id) {
            ids["book"] = id

        }

        function selectUser() {

            var selectUserId = $('#option').val();

            ids["user"] = selectUserId;
            // debugger  
            // console.log(ids)
            $.ajax({
                method: "POST",
                url: "{% url 'book_list' %}",
                headers: { "X-CSRFToken": "{{csrf_token}}" },
                data: ids,
                success: (data) => {
                    if (data.message == "success") {

                        document.getElementById("errormessage").innerHTML = "Assign Book successfully."
                        // $('#option').val([])
                        document.getElementById(`available${data.book_id}`).innerHTML =  data.rem
                        // console.log(ids);
                        // setInterval(function () { window.location.reload() }, 1000);
                    }
                },
                error: (response) => {
                   
                    let json_response = response.responseJSON;
                    document.getElementById("errormessage").innerHTML = "Already assign book this user"
                    // $('#option').val([])
                    setInterval(function () { window.location.reload() }, 2000);
                }
            })
        }

        $.ajax({
            url: "{% url 'book_list' %}",
            method: "GET",
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            // data:[id,selectUserId],
            success: function bookList(book) {
                output = ""
                for (i = 0; i < book.length; i++) {
                    output += ` 
                               <div class="col-3">
                                <div class="card w-80 h-80 mx-auto">
                                <img src="${book[i].book_image}" style="height:100px;width:min-content;align-self:center">
                                <div class="card-body">
                                    <p class="card-title box.item.cupcake" id="book name" title=${book[i].book_name}"><b>${trunString(book[i].book_name)}</b></p>
                                    <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userpopbox" data-id ="${book[i].id}" id="bookbtn_${book[i].id}"  onclick="bookId(${book[i].id})">Assign Book</button><br>
                                    <p style="margin-left:225px margin-bottom:-39px">Author Name:<br>${trunString(book[i].author_name, 5)}</p>
                                    <p style="margin-right:209px" id="total" >Total Quantity:${book[i].quantity}</p>
                                    <p style="margin-right:189px" id="available${book[i].id}">Available Quantity:</p>
                                </div>
                                </div>
                                </div>`
                }
                document.getElementById("bookcard").innerHTML = output
                // document.getElementById("available").innerHTML =(book[i].quantity) - 1
            }
        })
    </script>

</body>

</html>