{% include 'base.html' %}

<!DOCTYPE html>
<html>
    <body>
        {% if messages %}
            <ul class="alert alert-success" style="list-style-type: none">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="text-lg-right text-center">
                <p>you have successfully register in system <br> place login hear </p>
                <a href="{% url 'login' %}">login hear</a>
            </div>
        </div>
    </body>
</html>