{% include 'base.html' %}
<html>

<head>
    <style>
        .table {
            margin-left: 20px;
            /* align-self:baseline; */
            width: 70%;
            margin: 0px auto;
            margin-top: 20px;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-left: auto;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="message">
    </div>
    <div class="align-middle table">
        <h3 align="center">Book List</h3>
        <table class="table table-bordered" align="center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Return Book</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for assign_user in assign_book_data %}
                <tr>
                    <td>{{assign_user.id}}</td>
                    <td>{{assign_user.book}}</td>
                    <td><button type="button" name="return_btn" book_id="{{assign_user.id}}" id="return_book"
                            class="btn btn-primary" onclick="returnBook(this)">Return Book</button></td>
                    <td><button type="button" name="count_btn" class="btn btn-primary" book_id="{{assign_user.id}}"
                            onclick="count(this)">Count</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal" id="userpopbox">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="align-items: center;">
                <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close" style="margin-left: auto;"></button>

                <h4>Book History</h4>
                <div class="modal-body" style="width: 500px;">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    
    function returnBook(elem) {
        let book_id = elem.getAttribute('book_id')
        commanAjax(book_id, "return_book")
    }

    function count(elem) {
        let book_id = elem.getAttribute('book_id')
        $("#userpopbox").modal("show")

        var modal_show = $(event.relatedTarget).data('date_borrowed')
        $(this).find(".modal-body").text(modal_show)
        commanAjax(book_id, "count")
        console.log(book_id)
    }
    function commanAjax(book_id, button_action) {
        $.ajax({
            url: "/user_assign_book_list/",
            method: "POST",
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            data: { "book": book_id, "button_action": button_action },
            success: function (data) {
                if (data.message) {
                    document.getElementById("message").innerHTML = `<div class="alert alert-success" role="alert">
                    ${data.message} </div>`
                    setInterval(function () { window.location.reload() }, 2000);
                }
                else {
                    $('#userpopbox').modal('show');
                    let tableHtml = document.createElement("table")
                    tableHtml.border = '2px'
                    tableHtml.className = 'table table-bordered '



                    let tableHead = document.createElement("thead")
                    
                    var tr = document.createElement("tr")

                    // var th = document.createElement('th')
                    // let number = document.createTextNode('No.')
                    // th.appendChild(number)
                    // tr.appendChild(th)

                    var th = document.createElement('th')
                    let addDate = document.createTextNode('Assign Book Date')
                    th.appendChild(addDate)
                    tr.appendChild(th)

                    

                    tableHead.appendChild(tr)

                    tableHtml.appendChild(tableHead)

                    let tableBody = document.createElement('tbody')


                    data.forEach((value, key) => {
                        let myDate = new Date(value.date_borrowed)
                        var tr = document.createElement('tr');
                        var td = document.createElement('td');
                        var myDate1 = `${myDate.getDate()}-${myDate.getMonth()}-${myDate.getFullYear()} (${myDate.getHours()} :${myDate.getMinutes()} : ${myDate.getSeconds()})`
                        var date = document.createTextNode(myDate1)
                        td.appendChild(date)

                        tr.appendChild(td);


                        tableBody.appendChild(tr);

                    })
                    tableHtml.appendChild(tableBody);
                    $("#userpopbox").find('.modal-body').html(tableHtml)
                }

                // setInterval(function () { window.location.reload() }, 2000)
            },
            error: function (error) {
                console.log("Error: ", error);
            }
        })
    }
</script>

</html>